# webstorm idea configure
.idea/

# mongodb data storage
data/

# npm dependencies
node_modules/

# uploaded image files
public/images/

# log files
*.log

# java class files
classes/

# eclipse configure
# .classpath
# .project