# webstorm idea configure
.idea/

# eclipse configure
# .classpath
# .project
# .settings/

# mongodb data storage
data/*
!data/scripts

# npm dependencies
node_modules/

# uploaded image files
public/images/

# log files
*.log

# java class files
crawler/classes/
