div.control
	div.site_select
		ul
			li.clien 
				a(href="/list?community=CL") 클리앙
			li.ou
				a(href="/list?community=OU") 오유
			li.slr
				a(href="/list?community=SR") SLR
			li.dd
				a(href="/list?community=DD") 개드립
			li.mp
				a(href="/list?community=MP") 엠팍
			li.bd
				a(href="/list?community=BD") 보베
			li.pp
				a(href="/list?community=PP") 뽐뿌
			li.rw
				a(href="/list?community=RW") 루리웹
			li.ck
				a(href="/list?community=CK") 82cook