div.control
	div.site_select
		ul
			li.clien 
				a(href="/list?community=CL") 클리앙
			li.ou
				a(href="/list?community=OU") 오유
			li.slr
				a(href="/list?community=SR") SLR
			li.dd
				a(href="/list?community=DD") 개드립