div.control
	div.site_select
		ul 
			li.all_community
				a(href="/list") 전체보기
			li.CL(value="CL") 
				a(href="#") 클리앙
			li.OU(value="OU")
				a(href="#") 오유
			li.SR(value="SR")
				a(href="#") SLR
			li.DD(value="DD")
				a(href="#") 개드립
			li.MP(value="MP")
				a(href="#") 엠팍
			li.BD(value="BD")
				a(href="#") 보베
			li.PP(value="PP")
				a(href="#") 뽐뿌
			li.RW(value="RW")
				a(href="#") 루리웹
			li.CK(value="CK")
				a(href="#") 82cook