div.control
	div.site_select
		ul 
			li.all_community
				a(href="/list") 전체보기
			li.clien(value="CL") 
				a(href="#") 클리앙
			li.ou(value="OU")
				a(href="#") 오유
			li.slr(value="SR")
				a(href="#") SLR
			li.dd(value="DD")
				a(href="#") 개드립
			li.mp(value="MP")
				a(href="#") 엠팍
			li.bd(value="BD")
				a(href="#") 보베
			li.pp(value="PP")
				a(href="#") 뽐뿌
			li.rw(value="RW")
				a(href="#") 루리웹
			li.ck(value="CK")
				a(href="#") 82cook