extends layout

block wrapper
    // Wrapper
    #wrapper.col-sm-9.col-xs-12        
        block contents

        // ARTICLE LIST        
        #articleList
            table
                thead
                    th 커뮤니티
                    th 제목
                    th 작성자
                    th 작성일
                    th 조회수
                    th 추천수
                tbody
        // /ARTICLE LIST

        // PAGING
        a#previous_page(href='/list?page=#{Number(page) - 1}') 이전
        span#pagination
        a#next_page(href='/list?page=#{Number(page) + 1}') 다음
        // /PAGING
    // /WRAPPER

block articlelist
