doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include ./top.jade
        include ./sidebar.jade
        block wrapper
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script.
            var page = #{page};
            var community = "#{community}";
        if article_id
            script var article_id = "#{article_id}";
        else
            script var article_id = undefined;
        script(src='/javascripts/global.js')
        script(src='/javascripts/date.format.js')
        script(src='/javascripts/sigma.min.js')
        script(src='/javascripts/graph.js')
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>