doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script.
            var page = #{page};
        if article_id
            script var article_id = "#{article_id}";
        else
            script var article_id = undefined;
        script(src='/javascripts/global.js')