extends index

block contents
    // CONTENTS
    #contents
        h2 Contents
        #contentsInfo
            strong Url:
            |   <span id='contentsUrl'></span>
            strong <h2><span id='contentsSubject'></span></h2>
            #keywords
        #contentsBody
        hr
    // /CONTENTS